* {padding: 0; margin: 0;
box-sizing: border-box;
}

body {font-family: "Poppins", sans-serif;
}

section {padding: 6rem;}

header {border-bottom: 1px solid black;
height: 70px;
}

.container {height: 100%;
    width: 100%;
max-width: 1320px;
padding-left: 1rem;
padding-right: 1rem;
margin-right: auto;
margin-left: auto;
}

header .container {display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

header #logo {display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
text-decoration: none;}


#logo {font-size: 24px;
text-decoration: none;
color: black;
}

#logo,h1,h2,h3,h4,h5,h6
{ font-family: "Playfair Display", serif;
}

nav ul {display: flex;
flex-direction: row;
gap: 24px;
list-style: none;
}

ul a {color: rgb(66, 62, 62);
text-decoration: none;
}

.iconlist {display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.iconlist a {text-decoration: none;
    color: black;
}

h1, .h1 {font-size: 3.815rem;
margin-bottom: 1.5rem;
color: white;}

h2, .h2 {font-size: 3.052rem;
}

h3, .h3 {font-size: 2.441rem;
}

h4, .h4 {font-size: 1.953rem;
}

h5, .h5 {font-size: 1.563rem;
}

h6, .h6 {font-size: 1.25rem;
}

#section1 {background-color: black;
height: 80vh;}

#section1 p {font-size: 1rem;
line-height: 160%;
width: 560px;
color: rgb(175, 168, 168);
}


#section1 .container {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.buttonholder {margin-top: 2rem;}

.button {text-decoration: none;
padding: 0.7rem 8rem;
border-radius: 0.5rem;
}

.primarybutton {background-color: black;
color: white;
border: 1px solid gray;
font-size: 1rem;}

.secondarybutton {background-color: white;
color: black;
}

#section2 {height: 40vh;}

.categorylist {list-style: none;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 1.5rem;
}

.category {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
}

.category img {width: 100%;
aspect-ratio: 1/1;
border-radius: 50%;
}

.images {display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
gap: 0.5rem;
aspect-ratio: 1/1;}

.images img {width: 100%;
    height: 100%;

}

#img1 {grid-row: 1;
grid-column: 1;
}

#img2 {grid-row: 2;
grid-column: 1;
}

#img3 {grid-row: 3;
grid-column: 1;
}

#img4 {grid-row: 4;
grid-column: 1;
}

#mainimage {grid-column-start: 2;
grid-column-end: span 3;
grid-row-start: 1;
grid-row-end: span 4;
}

#section3 h1 {color: black;}
 

#section3 .container {display: flex;
flex-direction: row;
justify-content: space-between;
gap: 3rem;
}

#section3 p {margin-bottom: 1.5rem;}
